:root {
    --font-color: #1D1D45;
    --hover-color: #BEC79E;
    --primary-color: #CCD5AE;
    --secondary-color: #FEFAE0;
    --primary-variant-color: #E9EDC9;
    --secondary-variant-color: #FAEDCD;
}

:root {
    --font-color-dark: #DDDDDD;
    --hover-color-dark: #2C1E3A;
    --primary-color-dark: #635985;
    --secondary-color-dark: #393053;
    --primary-variant-color-dark: #443C68;
    --secondary-variant-color-dark: #18122B;
}