@import "colors.css";

.contact-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 2em;
    color: var(--font-color);
    background-color: var(--primary-variant-color);
}

.dark .contact-cards {
    background-color: var(--primary-variant-color-dark);
    color: var(--font-color-dark);
}

.contact-item {
    border: 1px solid #E5D1FA;
    border-radius: 10px;
    padding: 2em;
    width: calc(50% - 3em);
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark .contact-item {
    background-color: var(--secondary-color-dark);
    color: var(--font-color-dark);
    border: 1px solid #555;
}

.contact-item:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px);
}

.dark .contact-item:hover {
    background-color: var(--hover-color-dark);
}

.contact-item h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.contact-item p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
    color: var(--font-color);
}

.dark .contact-item p {
    color: var(--font-color-dark);
}

.contact-item a {
    text-decoration: none;
    color: var(--font-color);
}

.dark .contact-item a {
    color: #bbb;
}


@media screen and (max-width: 800px) {
    .contact-cards {
        flex-direction: column;
    }

    .contact-item {
        height: auto;
        width: calc(100% - 2em);
    }

    .contact-item h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }

    .contact-item p {
        font-size: 1rem;
    }

    .contact-item a {
        font-size: 0.8rem;
    }
}
