@import 'colors.css';

.interest-cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    justify-items: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

.interest-card {
    background-color: var(--secondary-color);
    border: 1px solid #e5d1fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    height: auto;
    width: calc(100% - 4em);
}

.dark .interest-card {
    background: var(--secondary-color-dark);
    border: 1px solid #555555;
    color: var(--font-color-dark);
}

.interest-card:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px);
}

.dark .interest-card:hover {
    background-color: var(--hover-color-dark);
}

.interest-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 3em;
    text-align: justify;
    width: 75%;
}

.interest-content h3 {
    font-size: 2rem;
    font-weight: bold;
}

.interest-pic {
    position: relative;
    width: 25%;
}

.interest-pic img {
    bottom: 0;
    margin: auto;
    max-height: 100%;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    width: 100%;
}

.interest-pic::before {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        #fefae0aa
    );
    border-radius: 10px;
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.dark .interest-pic::before {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        #393053aa
    );
}

@media screen and (max-width: 800px) {
    .interest-card {
        width: calc(100% - 2em);
    }

    .interest-content {
        padding: 1em;
        width: 60%;
    }

    .interest-content h3 {
        font-size: 1.5rem;
    }

    .interest-pic {
        width: 40%;
    }

    .interest-pic img {
        max-height: 50%;
    }
}
