.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.skill-cards {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 1000px;
    justify-items: center;
}

.card {
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    width: calc(40% - 2em);
}

.wide-card {
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    width: calc(60% - 2em);
}

.card:hover, .wide-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .skill-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card, .wide-card {
        width: calc(100% - 2em);
    }
}