@import "colors.css";

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 2em;
    justify-items: center;
}

.card, .wide-card {
    padding: 4em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: calc(40% - 4em);
    border: 1px solid #E5D1FA;
    background-color: var(--secondary-color);
}

.wide-card {
    width: calc(60% - 2em);
}

.dark .card, .dark .wide-card {
    background: var(--secondary-color-dark);
    color: var(--font-color-dark);
    border: 1px solid #555;
}

.card:hover, .wide-card:hover {
    transform: translateY(-5px);
    background-color: var(--hover-color);
}

.dark .card:hover, .dark .wide-card:hover {
    background-color: var(--hover-color-dark);
}

.skill-cards h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.progress-bar {
    width: 100%;
    height: 1vh;
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.dark .progress-bar {
    background-color: var(--primary-color-dark);
}

.progress {
    width: 0;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .skill-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card, .wide-card {
        width: calc(100% - 2em);
    }
}