@import 'colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all cubic-bezier(0.08, 1.25, 0, 1.25) 0.5s;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
}

.container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.dark .container {
    background-color: var(--secondary-color-dark);
}

.container h1 {
    font-size: 6vw;
    font-weight: bolder;
}

.container h2 {
    font-size: 4vw;
    font-weight: bold;
}

.container h3 {
    font-size: 2vw;
    font-weight: bold;
}

.container h4 {
    font-size: 1.8vw;
    font-weight: bold;
}

.container p {
    font-size: 1.5vw;
    font-weight: normal;
    margin-top: 0.5em;
}

.center-align {
    text-align: center;
}

.left-container {
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 2vw;
    width: 25%;
    height: auto;
}

.dark .left-container {
    background-color: var(--secondary-color-dark);
    color: var(--font-color-dark);
}

.profile-pic {
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.profile-pic img {
    border-radius: 50%;
    max-height: 100%;
    max-width: 80%;
    position: relative;
    top: 0;
}

#personal-info-text {
    margin-top: 1em;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.info p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25vw;
    margin-top: 0.5em;
    text-align: justify;
}

.cursor {
    animation: blink 0.5s infinite;
    background-color: var(--primary-color);
    display: inline-block;
    height: 1em;
    text-align: left;
    width: 0.5em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.dark .cursor {
    background-color: var(--primary-color-dark);
}

header,
footer {
    align-items: center;
    background-color: var(--secondary-variant-color);
    color: var(--font-color);
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 6vh;
    justify-content: space-between;
    padding: 1em;
    position: relative;
    width: 100%;
}

.dark header,
.dark footer {
    background-color: var(--secondary-variant-color-dark);
    color: var(--font-color-dark);
}

.dark header a,
.dark footer a {
    color: var(--font-color-dark);
}

footer {
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 2.5vw;
    font-weight: bolder;
}

footer p {
    font-size: 1.5vw;
    font-weight: 300;
}

.bold-text {
    font-weight: bold;
}

.right-container {
    background-color: var(--primary-variant-color);
    height: auto;
    width: 75%;
}

.dark .right-container {
    background-color: var(--primary-variant-color-dark);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    align-items: center;
    background-color: var(--primary-color-dark);
    border-radius: 50px;
    display: flex;
    height: 1.625em;
    justify-content: space-between;
    padding: 0.3125em;
    position: relative;
    transform: scale(1.25);
    width: 3.125em;
}

.dark .label {
    background-color: var(--primary-color);
}

.ball {
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 1.25em;
    left: 0.125em;
    position: absolute;
    top: 0.125em;
    width: 1.25em;
}

.dark .ball {
    background-color: var(--primary-color-dark);
}

.checkbox:checked + .label .ball {
    transform: translateX(1.5em);
}

.fa-moon {
    color: var(--primary-color-dark);
}

.fa-sun {
    color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .container h1 {
        font-size: 6vh;
    }

    .container h2 {
        font-size: 4vh;
    }

    .container h3 {
        font-size: 2vh;
    }

    .container h4 {
        font-size: 1.7vh;
        padding-top: 0.5em;
    }

    .container p {
        font-size: 1.5vh;
    }

    .left-container {
        display: block;
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .profile-pic img {
        border-radius: 50%;
        max-height: 100%;
        max-width: 25%;
    }

    #personal-info-text {
        margin-top: 0;
        text-align: left;
    }

    .info {
        display: block;
        margin-top: 0.5em;
    }

    .info p {
        font-size: 1.7vh;
        margin-top: 1em;
        text-align: justify;
    }

    .label {
        transform: scale(1);
    }

    footer p {
        font-size: 1.5vh;
    }

    header h1 {
        font-size: 3vh;
    }
}

@media screen and (max-width: 480px) {
    .profile-pic img {
        max-width: 50%;
    }
}
