@import "colors.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
}

.container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    transition: background 0.5s linear;
    background-color: var(--secondary-color);
}

.dark .container {
    background-color: var(--secondary-color-dark);
}

.container h1 {
    font-size: 6vw;
    font-weight: bolder;
}

.container h2 {
    font-size: 4vw;
    font-weight: bold;
}

.container h3 {
    font-size: 2vw;
    font-weight: bold;
}

.container h4 {
    font-size: 1.8vw;
    font-weight: bold;
}

.container p {
    margin-top: 0.5em;
    font-size: 1.5vw;
    font-weight: normal;
}

.center-align {
    text-align: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 2vw;
}

.dark .left-container {
    background-color: var(--secondary-color-dark);
    color: var(--font-color-dark);
}

.profile-pic {
    max-width: 75%;
    max-height: 100%;
    border-radius: 50%;
    position: relative;
    top: 0;
    pointer-events: none;
}

#personal-info-text {
    margin-top: 1em;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
}

.info-item p {
    margin-top: 0.5em;
    text-align: left;
}

.info-item h4 {
    margin-top: 0.5em;
}

header, footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    padding: 1em;
    align-items: center;
    background-color: var(--secondary-variant-color);
    width: 100%;
    height: 6vh;
    position: relative;
    transition: background 0.5s linear;
}

.dark header, .dark footer {
    background-color: var(--secondary-variant-color-dark);
    color: var(--font-color-dark);
}

.dark header a, .dark footer a {
    color: var(--font-color-dark);
}


footer {
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 3vh;
    font-weight: bolder;
}

footer p {
    font-size: 1.5vh;
    font-weight: 300;
}

.bold-text {
    font-weight: bold;
}

.right-container {
    width: 75%;
    height: auto;
    background-color: var(--primary-variant-color);
}

.dark .right-container {
    background-color: var(--primary-variant-color-dark);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 3.125em;
    height: 1.625em;
    background-color: var(--primary-color-dark);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0.3125em;
    position: relative;
    transform: scale(1.25);
}

.dark .label {
    background-color: var(--primary-color);
}

.ball {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--primary-color);
    position: absolute;
    top: 0.125em;
    left: 0.125em;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.dark .ball {
    background-color: var(--primary-color-dark);
}

.checkbox:checked + .label .ball {
    transform: translateX(1.5em);
}

.fa-moon {
    color: var(--primary-color-dark);
}

.fa-sun {
    color: var(--secondary-color);
}

@media screen and (max-width: 800px) {

    .container {
        flex-direction: column;
    }

    .container h1 {
        font-size: 6vh;
    }

    .container h2 {
        font-size: 4vh;
    }

    .container h3 {
        font-size: 2vh;
    }

    .container h4 {
        padding-top: 0.5em;
        font-size: 1.7vh;
    }

    .container p {
        font-size: 1.5vh;
    }

    .left-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .profile-pic {
        max-width: 25%;
        max-height: 100%;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        top: 0;
    }

    #personal-info-text {
        margin-top: 0;
        text-align: left;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0.5em;
    }

    .info-item {
        margin-bottom: 0.75em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 1em;
    }

    .info-item p {
        margin-top: 0.5em;
        text-align: left;
    }

    .info-item.p:hover {
        overflow: visible;
    }

    .label {
        transform: scale(1);
    }

}