@import "colors.css";

.tab {
    overflow: hidden;
    background-color: var(--primary-variant-color);
    color: var(--font-color);
}

.dark .tab {
    background-color: var(--primary-variant-color-dark);
    color: var(--font-color-dark);
}

.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.5vw;
    color: var(--font-color);
    border: none;
}

.dark .tab button {
    color: var(--font-color-dark);
}

.tab button:hover {
    background-color: var(--hover-color)
}

.dark .tab button:hover {
    background-color: var(--hover-color-dark);
}

.tab button.active {
    background-color: var(--primary-color);
}

.dark .tab button.active {
    background-color: var(--primary-color-dark);
}

@media screen and (max-width: 800px) {
    .tab button {
        font-size: 1.5vh;
    }
}
